// main: ./style.scss;
@import "_flex";
@import "_mixin";

html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  font-size: 1.0rem;
  // font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

.pc {
  display: none;
  //991px~
  //screen-higher-desktop
  @include screen-higher-desktop {
    display: inline-block;
  }
  //screen-higher-desktop
}

.tb {
  display: none;
  //768px~991px
  //screen-laptop
  @include screen-laptop {
    display: inline-block;
  }
  //screen-laptop
}

.sp {
  display: none;
  //~768px
  //screen-less-tablet
  @include screen-less-tablet {
    display: inline-block;
  }
  //screen-less-tablet
}

//575px以下
.inner-sm {
  @include screen-mobile {
    width: 94%;
  }
}

//768px以下
.inner-md {
  @include screen-less-tablet {
    width: 94%;
  }
}

//991px以下
.inner-lg {
  @include screen-less-laptop {
    width: 94%;
  }
}

//1199px以下
.inner-xl {
  @include screen-less-desktop {
    width: 94%;
  }
}

a {
  img {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:hover {
    img {
      opacity: 0.7;
    }
  }
}

a.blank[target="_blank"] {
  &::after {
    top: -1px;
    position: relative;
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    content: "\f2d2";
    margin-left: 0.5em;
    color: #666;
  }
  &:hover {
    &::after {
      text-decoration: none;
    }
  }
}

header {}

main {}

footer {}
