// main: ./style.scss;
//screen-hd
$hd-max: 1280px;
$hd-min: 1200px;
//screen-desktop
$desktop-max: 1199px;
$desktop-min: 992px;
//screen-laptop
$laptop-max: 991px;
$laptop-min: 769px;
//screen-tablet
$tablet-max: 768px;
$tablet-min: 576px;
//screen-landscape
$landscape-max: 620px;
//screen-mobile
$mobile-max: 575px;
//screen-legacymobile
$legacymobile-max: 400px;
